.vscode/
.git/
docs/about/index-old.md
docs/about/about.md
docs/index-pic
docs/recruit
docs/guide/assessment-2023.md
docs/guide/assessment-2024.md
docs/guide/guide-2023.md
docs/guide/guide-2024.md
docs/guide/index.md
docs/members/members-old.md
docs/members/links.md